---
import { Image } from 'astro:assets';
import Gallery1 from '@assets/gallery_1.jpg';
import Gallery2 from '@assets/gallery_2.jpg';
import Gallery3 from '@assets/gallery_3.jpg';
import Gallery4 from '@assets/gallery_4.jpg';
const galleries = [
  {
    src: Gallery1,
  },
  {
    src: Gallery2,
  },
  {
    src: Gallery3,
  },
  {
    src: Gallery4,
  },
];

const looped = [...galleries, ...galleries];
---

<div class="gallery">
  <div class="gallery-slider">
    {
      looped.map((item) => (
        <div class="gallery-item">
          <Image src={item.src} alt="" />
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  .gallery {
    overflow: hidden;

    @include mq(1801) {
      max-width: var(--content-width);
      margin: 0 auto;
    }
  }

  .gallery-slider {
    display: flex;
    width: max-content;
    animation: carousel 60s linear infinite;

    img {
      box-sizing: content-box;

      @include mq-mobile {
        width: 200px;
        padding: 0 4px;
      }

      @include mq-desktop {
        width: 400px;
        padding: 0 10px;
      }
    }
  }

  @keyframes carousel {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }
</style>
