---
const base = import.meta.env.BASE_URL;
---

<form class="form" action={`${base}/contact`} method="post">
  <div class="field">
    <input id="name" name="name" type="text" placeholder="山田 太郎" autocomplete="name" required />
    <label for="name">お名前</label>
  </div>

  <div class="field">
    <input
      id="email"
      name="email"
      type="email"
      placeholder="calm-coffee@example.com"
      autocomplete="email"
      inputmode="email"
      required
    />
    <label for="email">メールアドレス</label>
  </div>

  <div class="field">
    <textarea id="message" name="message" rows="5" placeholder="お問い合わせ内容" required
    ></textarea>
    <label for="message">お問い合わせ内容</label>
  </div>

  <button type="submit" class="submit">送信する</button>
</form>

<style lang="scss">
  .form {
    @include mq-mobile {
      margin-top: 32px;
    }

    @include mq-desktop {
      margin-top: 40px;
    }
  }

  .field {
    position: relative;

    & + & {
      @include mq-mobile {
        margin-top: 12px;
      }

      @include mq-desktop {
        margin-top: 16px;
      }
    }
  }

  label {
    position: absolute;
    top: 22px;
    left: 17px;
    line-height: 1.4;
    color: var(--color-text-muted);
    pointer-events: none;
  }

  input {
    padding: 22px 16px 14px;
  }

  textarea {
    min-height: 240px;
    padding: 22px 16px;

    @include mq-mobile {
      resize: none;
    }

    @include mq-desktop {
      resize: vertical;
    }
  }

  input,
  textarea {
    width: 100%;
    line-height: 1.4;
    outline: 1px solid var(--color-border-input);
    background-color: var(--color-bg);
    border-radius: 4px;

    &::placeholder {
      opacity: 0;
    }

    &:hover,
    &:focus {
      outline-width: 2px;
      outline-color: var(--color-main);
      transition: outline 0.1s ease-out;
    }

    &:active,
    &:focus,
    &:not(:placeholder-shown) {
      + label {
        font-size: 12px;
        transform: translateY(-100%);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  .submit {
    position: relative;
    display: grid;
    place-items: center;
    height: 60px;
    margin: 0 auto;
    font-weight: 500;
    color: var(--color-text-light);
    background-color: var(--color-sub);
    border-radius: 999px;

    @include mq-mobile {
      width: 80%;
      margin-top: 40px;
      font-size: 16px;
    }

    @include mq-desktop {
      width: 280px;
      margin-top: 48px;
      font-size: 18px;
      transition: background-color 0.4s var(--ease-out-quint);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: color-mix(in srgb, var(--color-sub) 80%, transparent);
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      content: '';
      background-image: url('../../assets/icon_send.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);

      @include mq-mobile {
        right: 20px;
        width: 24px;
        height: 24px;
      }

      @include mq-desktop {
        right: 40px;
        width: 32px;
        height: 32px;
      }
    }
  }
</style>
