---
import { Image } from 'astro:assets';
import logo from '@assets/logo_footer.svg';
import IconInstagram from '@components/common/IconInstagram.astro';
import IconFacebook from '@components/common/IconFacebook.astro';
const base = import.meta.env.BASE_URL;
---

<footer>
  <p class="logo">
    <a href={base}>
      <Image src={logo} alt="Hachiue Logo" width="120" height="40" />
    </a>
  </p>
  <div class="social-icons">
    <a href="https://www.instagram.com/" target="_blank">
      <IconInstagram />
    </a>
    <a href="https://www.facebook.com/" target="_blank">
      <IconFacebook />
    </a>
  </div>
  <p class="copyright">© 2025 Hachiue</p>
</footer>

<style lang="scss">
  footer {
    @include mq-mobile {
      padding: 40px calc(20 / 390 * 100vw) 48px;
    }

    @include mq-desktop {
      padding: 40px 40px 48px;
    }
  }

  .logo {
    img {
      display: block;
      margin: 0 auto;

      @include mq-mobile {
        width: 100%;
      }

      @include mq-desktop {
        width: 350px;
      }
    }
  }

  .social-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 64px;

    a {
      display: block;

      @include mq-mobile {
        width: 32px;
      }

      @include mq-desktop {
        width: 40px;
        transition: transform 0.4s var(--ease-out-quint);
      }

      @media (any-hover: hover) {
        &:hover {
          transform: scale(0.95);
        }
      }
    }
  }

  .copyright {
    margin-top: 64px;
    font-size: 12px;
    text-align: center;
  }
</style>
