---
const { title } = Astro.props;
---

<div class="section-title">
  <h2>{title}</h2>
</div>

<style lang="scss">
  .section-title {
    text-align: center;

    h2 {
      line-height: 1;

      @include mq-mobile {
        font-size: 21px;
      }

      @include mq-desktop {
        font-size: 26px;
      }
    }

    &::after {
      display: block;
      height: 2px;
      margin: 8px auto 0;
      content: '';
      background-color: var(--color-main);

      @include mq-mobile {
        width: 40px;
      }

      @include mq-desktop {
        width: 64px;
      }
    }
  }
</style>
