---
import 'destyle.css';
import '@styles/global.scss';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>タイトル</title>
  </head>
  <body>
    <slot />
  </body>
</html>
