---
import 'destyle.css';
import '@styles/global.scss';

const base = import.meta.env.BASE_URL;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${base}/favicon.svg`} />
    <title>タイトル</title>
  </head>
  <body>
    <slot />
  </body>
</html>
